.Weather form{
    margin-bottom: 25px;


} 
.Weather .row{
    margin-top: 25px;
}
.Weather p {
    color: #1f1f1f;;
    font-weight: 700;
    font-family: "Roboto",Arial,sans-serif;
    font-size: 14px;
}
.Weather p span{
color: #5e5e5e; 
}
.Weather a{
text-decoration: none;
}
.Weather img {
width: 60px;

}
.Weather h1 {
font-size: 48px;
color: #202124;
font-weight: 400;
}

.Weather h1 span{
 font-size: 16px;
position: relative;
top:-10px;
padding-left: 3px;
}

.Weather ul{
color: #5e5e5e;
font-size: 12px;
padding-left: 9px;
padding-top: 6px;
}
.Weather h2 {
color: #202124;
font-size: 22px;
font-weight: 400;
display: flex;
justify-content: end;
}
.Weather .time{
color: #5e5e5e;
font-size: 16px;

}

@media (max-width:1124px) {


.Weather p {
    
    font-size: 12px;
}

.Weather img {
width: 30px;

}
.Weather h1 {
font-size: 24px;

}

.Weather h1 span{
 font-size: 11px;
top: -5px;
}

.Weather ul{

font-size: 12px;

}
.Weather h2 {

font-size: 15px;

}
.Weather .time{

font-size: 13px;

}
footer {font-size: 10px;}
}