.WeatherForecast{
    text-align: center;
}
.WeekDay-temperature-min{
    opacity: .6;
    margin-left: 6px;
}
.WeekDay-icon img {height: 80px;
width: 80px;}
@media (max-width:767px){
.col-sm{height: 200px;}
.WeekDay{font-size:25px;}

.WeekDay-temperature{font-size: 20px;}
}
